body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

::selection {
  background: #BDFFFD; /* WebKit/Blink Browsers */
}

/* Helper Classes */

.section-blue {
  color: white;
  background-color: #3e92cc;
  padding: 20px;
  overflow: hidden;

}

.section-white {
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  overflow: hidden;

}

nav {
  background-color: #ffffff;
}


#nav-title-text {
  font-family: "Zen Dots", cursive;
}

#landing-section {
  padding: 0;
  margin: 0;
  background-image: url("./images/dino-reichmuth-kk3W5-0b6e0-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#landing-title-text {
  font-weight: bolder;
  font-family: "Zen Dots", cursive;
  font-size: 3em;
}

#landing-content {
  text-align: center;
}

#landing-content>a {
  border-radius: 12px;
  background-color: #083d77;
  color: white;
}

#landing-content>a:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
  opacity: 0.9;
}

#changing-text::after {
  color: white;
  content: "";
  animation: spin 3s linear infinite alternate;
}

@keyframes spin {
  0% {
    content: "Developer.";
  }

  50% {
    content: "Coffee Addict.";
  }

  100% {
    content: "Bookworm.";
  }
}

#about-me-section {

}

.br {
  border: 2px solid red;
}

#headshot {
  margin-left: auto;
  display: block;
  max-width: 60%;
  height: auto;

}

@media (max-width: 1199.98px) { 
  #headshot{
    max-width: 40%;
    margin: auto;
  }
 }

#education-section {
  /* height: 70%; */
}

.education-card{
    padding: 20px;
    background-color: #083D77;
    color:white;
}

.education-card:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
    box-shadow: rgb(8,61,119,.7) 0px 0px 0px 4px;
}
#experience-section {
  /* height: 100%; */
}

.experience-card{
  padding: 20px;
  max-width: 60%;
  margin: 20px;
  background-color: #ED8482;
  border-radius: 12px;
  color: black;
}

.experience-card:hover{
  transform: scale(1.2);
  transition: all ease 500ms;
  box-shadow: rgba(153, 166, 180, 0.7) 0px 0px 0px 4px;
  
}



.experience-image{
  min-height: 200px;
  max-height: 200px;
  height: auto;
  border: 5px solid #36454F;
  margin-left: 5px;
}

.contact-link{
  color:black;
}

.contact-link:hover > *{
  color: #083d77;
  transform: scale(1.1);
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(5deg); }
 95% { transform: rotate(-5deg); }
100% { transform: rotate(0deg); }
}