body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
/* Helper Classes */
.h-100 {
  height: 100%;
}

.section-blue {
  color: white;
  background-color: #3e92cc;
}

.section-white {
  background-color: whitesmoke;
  color: black;
}

nav {
  background-color: #ffffff;
}

#nav-title-text {
  font-family: "Zen Dots", cursive;
}

#landing-section {
  padding: 0;
  margin: 0;
  background-image: url("./images/dino-reichmuth-kk3W5-0b6e0-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#landing-title-text {
  font-weight: bolder;
  font-family: "Zen Dots", cursive;
  font-size: 3em;
}

#landing-content {
  text-align: center;
}
#landing-content > a {
  border-radius: 12px;
  background-color: #083d77;
}
#landing-content > a:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
  opacity: 0.9;
}
#changing-text::after {
  color: white;
  content: "";
  animation: spin 3s linear infinite alternate;
}

@keyframes spin {
  0% {
    content: "Developer.";
  }
  50% {
    content: "Coffee Addict.";
  }
  100% {
    content: "Bookworm.";
  }
}

#about-me-section {
  height: 100%;
}

#education-section {
  height: 70%;
}

#experience-section {
  height: 100%;
}
#contact-section {
  height: 30%;
}
